.header{
  width: 100%;height: 129px;
  background: #c90000 url(../images/header/header_bg.png) center repeat-y;
  position: relative;
}
.header_m{
  margin: 0px auto;
  height: 129px;width: 990px;
  position: relative;
}
/* logo */
.header a.logo_top{
  display: block; /* 设置为行内块元素 */
  width: 184px;height: 129px;
  background: url(../images/header/logo2.png) no-repeat -28px 9px;
  float: left;
}
/* 搜索框 */
.top_search{
  position: relative;
  float: left;
  width: 430px;height: 129px;
  margin-left: 58px;
}
.top_search input.text{
  width: 326px;height: 16px;
  padding: 8px;
  position: absolute;
  top:46px;
  line-height:16px;
  color:#999;
  border:0;
  border:2px solid #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
}
.top_search input.search{
  width: 80px;height: 36px;
  background: #a8000f;
  position: absolute;
  top: 46px;
  right: 7px;
  border: 2px solid #fff;
  border-left:none;
  color:#fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 12px;
}
.top_search input.search:hover{
  background: #8f030f;
}
/* 小图标 */
.login_item{
  height: 129px;
  float: right;
}
.login_item a.link{
  display: block;
  height: 28px;
  line-height: 28px;
  float:right;
  color:#fff;
  font-size: 12px;
  padding:0 10px;
  margin-top: 50px;
  text-decoration: none;
  border-radius: 4px;
}
/* 共同设置hover */
.login_item a.link:hover{
  background-color: rgba(0, 0, 0, .3);
}
/* qq登录图标 */
.login_item a.qq_login{
  background: url(../images/header/topdsflogin_icon.gif) no-repeat 3px 0px;
  padding-left:34px;
}
/* 微博登录图标 */
.login_item a.wb_login{
  background: url(../images/header/topdsflogin_icon.gif) no-repeat 3px -27px;
  padding-left:34px;
}
/* 导航栏 */
.nav{
  height: 76px;width: 100%;
  position: relative;
  background: #fff;
  box-shadow: 10px 0px 10px rgba(0,0,0,0.3);
}
.nav ul li{
  display: inline-block;
  height: 76px;
  vertical-align: top;
}
.nav ul.nav_main{
  height: 76px; width: 990px;
  margin: 0 auto;
}
.nav ul li a.link{
  float:left;
  /* display: flex; */
}
.nav ul li a.link{
  display:inline-block;
  height: 76px;
  line-height: 76px;
  font-size: 18px;
  color: #444;
  vertical-align: top;
  font-family: Microsoft Yahei,黑体;
  position: relative;
  padding: 0 24px;
}
.nav ul li a.link:hover{
  cursor:pointer;
  background: rgba(245, 244, 244,.5);
}
.nav ul li a.link strong{
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}
/* 首页li */
.nav ul li.current a strong{
  border-bottom: 4px solid #ff3232;
  height: 72px;
}
/* 菜谱大全，饮食健康 */
.nav ul li.extend{
  background: url(../images/header/msj_menuarrow.gif) no-repeat right center;
}
/* 美食达人li小图标 */
.nav a.link .crown{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: -7px;
}
.nav ul li .cook{
  display: none;
  position: absolute;
  top: 76px;
  left: 0px;
  width: 100%;
}
.nav ul li.on .cook{
  display: block;
}
.nav ul li .cook .cookb{
  width: 930px;
  margin: 0 auto;
  background: #fafafa;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0,0,0,.1);
  padding: 18px 30px 24px;
}
.nav ul li .cook .cook_item{
  display: block;
  overflow: hidden;
  padding: 0px 10px 12px 0px;
}
.nav ul li .cook .cook_sitem{
  display: inline-block;
  width: 330px;
}
.nav ul li .extend .cook_item dl dt{
  display: block;
  height: 24px;
  line-height: 24px;
}
.nav ul li .cook .cook_item dl dt a{
  color:#ff3232;
  font-size: 18px;
}
.nav ul li .cook .cook_item dl dd{
  display: inline-block;
  height: 24px;
  line-height:24px;
  padding-right: 14px;
}
.nav ul li .cook .cook_item dl dd a{
  color:#999;
  font-size: 12px;
  float: left;
}
.nav ul li .cook .cook_item dl a:hover{
  background: #ff3232;
  color:#fff;
}
/* 两个扩展选项中的小图 */
.nav ul li .cook .extend_cpdq .bgitem{
  background:url(../images/header/jccp_navbgg.png) right bottom no-repeat;
  position:absolute;
  right:-60px;
  bottom:-30px;
  height:226px;width:406px;
}
.nav ul li .cook .extend_ysjk .bgitem{
  background:url(../images/header/ysjk_navbg.png) right bottom no-repeat;
  position:absolute;
  right:-60px;
  bottom:-30px;
  height:208px;width:325px;
}