.loginpage{
  width: 1000px;
  margin: 40px auto 0px;
  background: #fff;
  padding: 1px 0px 60px;
}
.lp_title{
  height: 43px;
  line-height: 43px;
  color:#333;
  font-size: 22px;
  text-align: center;
  margin: 40px auto;
}
.lp_title .lp_t_left{
  display: inline-block;
  vertical-align: top;
  width: 91px;
  height: 9px;
  margin-top: 17px;
  background: url(../images/login/nl_title_left.png) center no-repeat;
  margin-right: 20px;
}
.lp_title .lp_t_right{
  display: inline-block;
  vertical-align: top;
  width: 91px;
  height: 9px;
  margin-top: 17px;
  background: url(../images/login/nl_title_right.png) center no-repeat;
  margin-left: 20px;
}
.lp_fs{
  text-align: center;
}
.lp_fs1 a{
  display: inline-block;
  vertical-align: top;
  width: 108px;
  line-height: 44px;
  font-size: 15px;
  margin: 0 25px;
}
.lp_fs1 a span{
  display: block;
  height: 108px;
  width: 108px;
  background: url(../images/login/nl_dsficon1.png) no-repeat;
}
.lp_fs1 .a1 span{
  background-position: 0px 0px;
}
.lp_fs1 .a2 span{
  background-position: -108px 0px;
}
.lp_fs1 .a3 span{
  background-position: -216px 0px;
}
.lp_fs1 .a1:hover span{
  background-position: 0px -108px;
}
.lp_fs1 .a2:hover span{
  background-position: -108px -108px;
}
.lp_fs1 .a3:hover span{
  background-position: -216px -108px;
}
.golink{
  color:#333;
  font-size: 15px;
  display: block;
  height: 66px;
  line-height: 66px;
  text-align: center;
  margin-top: 20px;
}
.golink:hover{
  color: #ec5541;
  text-decoration: underline;
}
.lp_morefs{
  height: 100px;
  width: 60%;
  border: 1px solid #eee;
  margin: 0 auto;
  background: #f5f5f5;
  border-radius: 4px;
  display: none;
}
.lp_morefs a{
  display: inline-block;
  vertical-align: top;
  height: 16px;
  line-height: 16px;
  margin-top: 42px;
  padding: 0px 20px;
  color: #333;
  background: url(../images/login/nl_moredsf_icons.png) no-repeat;
}
.lp_morefs a:hover{
  color: #ec5541;
  text-decoration: underline;
}
.lp_morefs .a2{
  background-position: 0px -16px;
}
.lp_morefs .a3{
  background-position: 0px -32px;
}
.lp_or{
  height: 69px;
  width: 100%;
  background: url(../images/login/nl_or.png) center no-repeat;
}
/* 登录表单 */
.lp_login{
  width: 320px;
  margin: 24px auto 0;
  overflow: hidden;
  text-align: left;
}
.lp_login .text,.lp_login .password{
  width: 296px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  padding: 11px;
  margin-bottom: 14px;
  font-size: 14px;
}
.lp_login label{
  display: inline-block;
  vertical-align: top;
  color: #666;
  font-size: 13px;
}
.lp_login .checkbox{
  height: 22px;
}
.lp_login .forgetPwd{
  float: right;
  color: #999;
  font-size: 13px;
  line-height: 22px;
}
.lp_login .forgetPwd:hover{
  color: #ec5541;
  text-decoration: underline;
}
.lp_login div{
  text-align: center;
  margin-top: 14px;
}
.lp_login .submit{
  width:78px;
  height:42px;
  padding: 0 24px;
  display: inline-block;
  border:1px solid #db432e;
  background: #ec5541;
  color:#fff;
  font-size: 15px;
  border-radius:4px;
  line-height: 40px;
  cursor: pointer;
}
.lp_login .submit:hover{
  background: #db432e;
}

/* 注册表单 */
.lp_zc{
  width: 60%;
  text-align: center;
  background: #f5f5f5;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 4px;
  padding-bottom: 20px;
}
.lp_zc .lp_tab{
  height: 32px;
  line-height: 32px;
  margin: 32px auto 0px;
  color: #aaa;
  text-align: center;
  font-size: 13px;
}
.lp_zc .lp_tab a{
  font-size: 18px;
  color: #999;
}
.lp_zc .lp_tab a:hover{
  color:#ec5541;
  text-decoration: underline;
}
.lp_zc .lp_tab a.current{
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
.lp_zc_con{
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}
.lp_zc_w{
  width: 640px;
  margin-left: 0px;
}
.zc_item{
  width: 320px;
  margin: 24px auto 0px;
  float: left;
  text-align: left;
  overflow: hidden;
}
.zc_item .text,.zc_item .password{
  width: 296px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  padding: 11px;
  margin-bottom: 14px;
  font-size: 14px;
}
.zc_item .text2{
  width:150px;
}
.login_tip{
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
  padding-left: 20px;
  background: url(../images/login/nl_tipsicons.png) no-repeat;
}
.login_tip.false{
  background-position: 0px -48px;
  color:#ec5541;
}
.login_tip.true{
  background-position: 0px -24px;
  color: #8fc31f;
}
.login_tip.tip{
  background-position: 0px 0px;
  color: #7ecef4;
}
.get_yzm{
  width:134px;
  float: right;
  background: #8fc31f;
  border: 1px solid #75ab49;
  height: 43px;
  line-height: 43px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
}
.get_yzm:hover{
  background: #75ab49;
}
.get_yzm.sended{
  background: #ddd;
  border: 1px solid #ccc;
  color: #999;
}
.zc_item label{
  color: #666;
  line-height: 22px;
  font-size: 13px;
}
.zc_item label input{
  margin-top: -2px;
  position: relative;
}
.zc_item label a{
  color: #ec5541;
}
.zc_item label a:hover{
  text-decoration: underline;
}
.zc_item div{
  text-align: center;
  margin-top: 14px;
}
.zc_item .submit{
  width:78px;
  height:42px;
  padding: 0 24px;
  display: inline-block;
  border:1px solid #db432e;
  background: #ec5541;
  color:#fff;
  font-size: 15px;
  border-radius:4px;
  line-height: 40px;
  cursor: pointer;
}
.zc_item .submit:hover{
  background: #db432e;
}