.footer{
  width: 100%;
  /* background: url(http://127.0.0.1:5050/images/footer/black75.png) repeat; */
  background: #3F3A32;
  margin-top: 30px;
  padding-bottom: 60px;
}
/* 底部第一部分 */
.footer1{
  width: 990px;
  position: relative;
  margin: 0 auto;
}
/* logo图片 */
.footer div.logo_bottom{
  height: 196px; width: 600px;
  background: url("http://127.0.0.1:5050/images/footer/20190606113304_957.png") no-repeat left center;
  background-size: 70% auto;
}
.footer div.logo_bottom a{
  width: 200px; height: 100%;
  display: block;
}
/* link */
.footer1 div.links{
  position: absolute;
  right: 0px;
  top: 30px;
}
.footer1 div.links ul li{
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: url(http://127.0.0.1:5050/images/footer/footerlinks.png) no-repeat;
  width: 105px;
  margin-left: 20px;
  height: 160px;
}
.footer1 div.links ul li a.link_img{
  display: block;
  width: 105px;height: 105px;
}
.footer1 div.links ul li a.link_img span{
  color:#fff;
  height: 26px;width: 105px;
  line-height: 26px;
  text-align: center;
  padding-top: 79px;
  display: block;
}
.footer1 div.links ul li.qq{
  background-position: -105px 0px;
}
.footer1 div.links ul li.wx{
  background-position: -210px 0px;
}
.footer1 div.links ul li.download{
  background-position: -315px 0px;
}
.footer1 div.links ul li p{
  position: absolute;
  width: 105px; height: 36px;
  bottom:0px;
  left:0px;
  text-align: center;
  line-height: 18px;
  padding: 9px 0px;
}
.footer1 div.links ul li p a{
  color:#999
}
.footer1 div.links ul li p a:hover{
  color:#fff;
}
/* 底部第二部分 */
.footer2{
  width: 990px;
  margin:0 auto;
  border-top: 1px solid #444;
  text-align: center;
  padding: 10px 0px 30px 0px;
}
.footer2 ul li{
  display: inline-block;
  vertical-align: top;
}
.footer2 ul li a{
  display: inline-block;
  color: #999;
  padding: 0px 10px;
  height: 24px;
  line-height: 24px;
}
.footer2 ul li a:hover{
  background-color:#FF3232;
  color:#fff;
  border-radius:2px;
}